{% load static %}
<!--This is the base template-->

<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="header">
        <ul>
            <li><a href="/">Leilão Online - BID</a></li>
            {% if user.is_authenticated %}
            <li>
                <div id='logout'>
                    <a style="float: right" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            <li>
                <div class="user">
                    <a style="float: right" href="{% url 'leilao_fbv_user:redirect_user' %}" class="drop-btn">Olá, {{ user }}</a>
                    <div id="dropdown-content">
                        <a href="{% url 'leilao_fbv_user:lote_list' %}">Seus lotes</a>
                        <a href="{% url 'leilao_fbv_user:lote_new' %}">Novo lote</a>
                    </div>
                </div>
            </li>
            {% else %}
            <li><a style="float: right" href="{% url 'login' %}">Login</a></li>
            <li><a style="float: right" href="{% url 'leilao_fbv:select_perfil' %}">Cadastrar</a><span id=login_slash></li>
            {% endif %}
        </ul>
    </div><!-- header -->

    <div id="content">
        {% block content %}
        {% endblock %}
    </div><!-- content -->
    
    <div id="footer">
    </div>
</body>

</html>