{% extends "base.html" %}

{% block content %}


<!-- <a href="{% url 'leilao_fbv:lote_list' %}"><h2>Lotes disponíveis em leilão</h2></a><br> 

<a href="{% url 'leilao_fbv_user:lote_list' %}">Function Based Views</a><br>
{% if user.is_authenticated %}
<a href="{% url 'leilao_fbv_user:lote_list' %}">Lotes cadastrados</a><br>  -->

<!-- <a href="{% url 'leilao_fbv:lote_list' %}">Function Based Views</a><br> -->
    
<!-- <h2>Regras do Leilão</h2> -->

<!-- {% endif %} -->

<p id="introducao"> <b>Bem vindo ao sistema de Leilão Virtual BID. Aqui você conseguirá leiloar itens pessoas e/ou participar de leilões dos mais diversos tipos. Não perca tempo, se cadastre agora.</b></p>

<p id="intro_comprador"> <b> Para o Comprador </b> Se quiser participar de um leilão, basta fazer um cadastro de comprador. Será necessário preencher um formulário para validar as suas informações pessoais. Assim que o cadastro for finalizado você terá acesso a MAIOR gama de lotes leiloados.</p>

<p id="intro_vendedor"> <b> Para o Vendedor </b> Se quiser ofertar um lote em um leilão virtual, basta realizar o cadastro no nosso site e anunciar os seus itens. </p>

<p id="intro_fim"> <b> Estamos ansiosos em poder te ajudar! Participe você também!</b></p>

<!-- <body background="../images/backgound_auction.jpg"> -->

{% endblock %}

