{% extends "base.html" %}

{% block content %}

<div>
    <ul>
        {% for lote in object_list %}
        <li>
            <span>
                {{ lote.name }}<br>
                Quantidade: {{ lote.quantity }}<br>
                Descrição: {{ lote.summary }}<br>
                Categoria: {{ lote.category }}<br>
                Autor: {{ lote.author }}<br>
                Editora: {{ lote.publisher }}<br>
                Edição: {{ lote.edition }}<br>
                Número de Páginas: {{ lote.number_of_pages }}<br>
                Condição: {{ lote.condition }}<br>
                Preço Reserva: R${{ lote.reserve_price }}<br>
                Anunciante: {{ lote.user }}
            </span>
        </li>
        <br>
        {% endfor %}
    </ul>
</div>

{% endblock %}