{% extends "base.html" %}

{% block content %}

<div>
    <ul>
        {% for lote in object_list %}
        <li>
            <span>
            {{ lote.name }}<br>
            Quantidade de Elementos: {{ lote.qty }}<br>
            Descrição: {{ lote.summary }}<br>
            Categoria: {{ lote.category }}<br>
            Condição: {{ lote.condition }}<br>
            Valor Mínimo: R${{ lote.min_value }}<br>
            Data de Abertura: {{ lote.opening_day }} de
                              {{ lote.opening_month }} de
                              {{ lote.opening_year }}<br> 
            </span>
        </li>
        <br>
        {% endfor %}
    </ul>
</div>

{% endblock %}