{% extends "base.html" %}

{% block content %}


<div class="sub_header">
    <div><h2 id="tcolor">Preencha as informações do lote</h2></div>
    <div><h2 id="voltar"><a href="{% url 'leilao_fbv_user:redirect_user' %}">Voltar</a></h2></div>
</div>

<div id="user_page">
    <ul id="lote_list">
        <li>{{ lote.name }}</li>
        <li>Quantidade: {{ lote.quantity }}</li>
        <li>Descrição: {{ lote.summary }}</li>
        <li>Categoria: {{ lote.category }}</li>
        <li>Autor: {{ lote.author }}</li>
        <li>Editora: {{ lote.publisher }}</li>
        <li>Edição: {{ lote.edition }}</li>
        <li>Número de Páginas: {{ lote.number_of_pages }}</li>
        <li>Condição: {{ lote.condition }}</li>
        <li>Preço Reserva: R${{ lote.reserve_price }}</li>
        <li>Anunciante: {{ lote.user }}</li>
        <li>
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Cadastrar" />
            </form>
        </li>
    </ul>
</div>


{% endblock %}