{% extends "base.html" %}

{% block content %}

<div class="user_menu">
    <ul>
        <li><a href="{% url 'leilao_fbv_user:lote_list' %}">Todos os lotes</a></li>
        <li><a href="{% url 'leilao_fbv_user:lote_pending_list' %}">Lotes pendentes</a></li>
        <li><a href="{% url 'leilao_fbv_user:lote_new' %}">Novo lote</a></li>
        <li><a href="{% url 'leilao_fbv_user:available_lote' %}">Lotes Disponíveis</a></li>
        <li><a href="{% url 'leilao_fbv_user:list_leilao_avail' %}">Leilões Disponíveis</a></li>
    </ul>
</div>

{% endblock %}