{% extends "base.html" %}

{% block content %}

<div class="sub_header">
    {% if user.is_staff %}
    <div>
        <h2 id="tcolor">Leilões Disponíveis</h2>
    </div>
    {% else %}
    <div>
        <h2 id="tcolor">WIP: Leilões Disponíveis</h2>
    </div>
    {% endif %}
    <div>
        <h2 id="voltar"><a href="{% url 'leilao_fbv_user:redirect_user' %}">Voltar</a></h2>
    </div>
</div>

<div id="user_page">
    <ul>
        {% for leilao in object_list %}
        <li>
            <span>
                {{ leilao.name }}:<br>
                {{ leilao.status_leilao }}<br>
                <br>
                Lote: {{ leilao.lote.name }}<br>
                Quantidade: {{ leilao.lote.quantity }}<br>
                Descrição: {{ leilao.lote.summary }}<br>
                Categoria: {{ leilao.lote.category }}<br>
                Autor: {{ leilao.lote.author }}<br>
                Editora: {{ leilao.lote.publisher }}<br>
                Edição: {{ leilao.lote.edition }}<br>
                Número de Páginas: {{ leilao.lote.number_of_pages }}<br>
                Condição: {{ leilao.lote.condition }}<br>
                Preço Atual: R${{ leilao.lance.valor }}<br>
                Intervalo Mínimo de Lance: R${{ leilao.lote.minimum_bid }}<br>
                
                Anunciante: {{ leilao.lote.user }}

                <div id="leilao_options">
                    {% if user.is_staff %}
                    <a id="edit" href="">Editar</a>
                    <a id="delete" href="">Deletar</a>
                    {% endif %}
                    <a id="entrar" href="{% url 'leilao_fbv_user:show_leilao' leilao.id %}">Entrar</a>
                </div>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}