{% extends "base.html" %}

{% block content %}

<div class="sub_header">
    <div>
        <h2 id="tcolor">Confirmação de Deleção</h2>
    </div>
    <div>
        <h2 id="voltar"><a href="{% url 'leilao_fbv_user:lote_list' %}">Voltar</a></h2>
    </div>
</div>

<form method="post"  id = "tcolor">{% csrf_token %}
    {% if leilao.status_leilao == "ATIVO" %}
        Tem certeza de que quer cancelar  "{{ leilao }}"?<br/>
        <input type="submit" value="Cancelar" />
    {% else %}
        Tem certeza de que quer deletar "{{ leilao }}"?<br/>
            <input type="submit" value="Deletar" />
    {% endif %}
    
</form>

{% endblock %}