{% extends "base.html" %}

{% block content %}

<h2 id="tcolor">Seus Lotes</h2>

<div id="user_page">
    <ul>
        {% for lote in object_list %}
        <li>
            <span>
            {{ lote.name }}<br>
            Quantidade de Elementos: {{ lote.qty }}<br>
            Descrição: {{ lote.summary }}<br>
            Categoria: {{ lote.category }}<br>
            Condição: {{ lote.condition }}<br>
            Valor Mínimo: R${{ lote.min_value }}<br>
            Data de Abertura: {{ lote.opening_day }} de
                              {{ lote.opening_month }} de
                              {{ lote.opening_year }}<br> 
            <a href="{% url 'leilao_fbv_user:lote_edit' lote.id %}">Editar</a>
            <a href="{% url 'leilao_fbv_user:lote_delete' lote.id %}">Deletar</a>
            </span>
        </li>
        {% endfor %}
    </ul>
    
    <!-- <a href="{% url 'leilao_fbv_user:lote_new' %}">Novo lote</a>

    <br>

    <a href="{% url 'leilao_fbv_user:available_lote' %}">Leilões Disponíveis</a> -->
</div>

{% endblock %}