{% extends "base.html" %}

{% block content %}

<div class="sub_header">
    <div>
        <h2 id="tcolor">Lotes Pendentes</h2>
    </div>
    <div>
        <h2 id="voltar"><a href="{% url 'leilao_fbv_user:redirect_user' %}">Voltar</a></h2>
    </div>
</div>

<div id="user_page">
    <ul>
        {% for lote in object_list %}
        <li>
            <span>
                {{ lote.name }}<br>
                Quantidade: {{ lote.quantity }}<br>
                Descrição: {{ lote.summary }}<br>
                Categoria: {{ lote.category }}<br>
                Autor: {{ lote.author }}<br>
                Editora: {{ lote.publisher }}<br>
                Edição: {{ lote.edition }}<br>
                Número de Páginas: {{ lote.number_of_pages }}<br>
                Condição: {{ lote.condition }}<br>
                Preço Reserva: R${{ lote.reserve_price }}<br>
                Intervalo Mínimo de Lance: R${{ lote.minimum_bid }}<br>
                Situação: {{ lote.state }}<br>
                Data de Abertura: {{ lote.opening_day }} de {{ lote.opening_month }}
                                  de {{ lote.opening_year }}<br>
                Anunciante: {{ lote.user }}
                <div id="lote_options">
                    <a id="edit" href="{% url 'leilao_fbv_user:lote_update_pending' lote.id %}">Editar</a>
                    <a id="delete" href="{% url 'leilao_fbv_user:lote_delete' lote.id %}">Deletar</a>
                </div>
            </span>
        </li>
        {% endfor %}
    </ul>
    
    <!-- <a href="{% url 'leilao_fbv_user:lote_new' %}">Novo lote</a>

    <br>

    <a href="{% url 'leilao_fbv_user:available_lote' %}">Leilões Disponíveis</a> -->
</div>

{% endblock %}