{% extends "base.html" %}

{% block content %}

<div class="sub_header">
    <div>
        <h2 id="tcolor">Todos Os Seus Leilões</h2>
    </div>
    <div>
        <h2 id="voltar"><a href="{% url 'leilao_fbv_user:redirect_user' %}">Voltar</a></h2>
    </div>
</div>

<div id="user_page">
    <ul>
        {% for leilao in leiloes %}
        <li>
            <span>
                {{ leilao.name }}:<br>
                {{ leilao.status_leilao }}<br>
                <br>
                Lote: {{ leilao.lote.name }}<br>
                Quantidade: {{ leilao.lote.quantity }}<br>
                Descrição: {{ leilao.lote.summary }}<br>
                Categoria: {{ leilao.lote.category }}<br>
                Autor: {{ leilao.lote.author }}<br>
                Editora: {{ leilao.lote.publisher }}<br>
                Edição: {{ leilao.lote.edition }}<br>
                Número de Páginas: {{ leilao.lote.number_of_pages }}<br>
                Condição: {{ leilao.lote.condition }}<br>
                Anunciante: {{ leilao.lote.user }}<br>
                Preço Atual: R${{ leilao.lance.valor }}<br>
                Vencedor Atual: {{ leilao.lance.user }}<br>

                {% if leilao.status_leilao == "FINALIZADO" %}

                    {% if leilao.lance.valor >= leilao.lote.reserve_price %}

                        Preço Arrematado: R${{ leilao.lance.valor }}<br>
                        Vencedor: {{ leilao.lance.user }}<br>

                    {% else %}

                        Preço Final: R${{ leilao.lance.valor }} - Não Arrematado<br>
                        Vencedor: Sem Vencedor<br>
                    
                    {% endif %}

                {% else %}

                    Preço Atual: R${{ leilao.lance.valor }}<br>

                    {% if leilao.lance.user.is_staff %}
                        Vencedor Atual: Sem Lances<br>
                    {% else %}
                        Vencedor Atual: {{ leilao.lance.user }}<br>
                    {% endif %}

                    Intervalo Mínimo de Lance: R${{ leilao.lote.minimum_bid }}<br>

                {% endif %}

            </span>
        </li><br>
        {% endfor %}
    </ul>
</div>

{% endblock %}