{% extends "base.html" %}

{% block content %}

<div class="sub_header">
    <div>
        <h2 id="tcolor">{{ leilao.name }}: {{ leilao.status_leilao }}</h2>
    </div>
    <div>
        <h2 id="voltar"><a href="{% url 'leilao_fbv_user:list_leilao' %}">Voltar</a></h2>
    </div>
</div>

<div id="user_page">
    <ul id="leilao_list">
        <li>{{ leilao.lote.name }}</li>
        <li>Quantidade: {{ leilao.lote.quantity }}</li>
        <li>Descrição: {{ leilao.lote.summary }}</li>
        <li>Categoria: {{ leilao.lote.category }}</li>
        <li>Autor: {{ leilao.lote.author }}</li>
        <li>Editora: {{ leilao.lote.publisher }}</li>
        <li>Edição: {{ leilao.lote.edition }}</li>
        <li>Número de Páginas: {{ leilao.lote.number_of_pages }}</li>
        <li>Condição: {{ leilao.lote.condition }}</li>
        <li>Preço Reserva: R${{ leilao.lote.reserve_price }}</li>
        <li>Intervalo Mínimo de Lance: R${{ leilao.lote.minimum_bid }}</li>
        
        <li>Anunciante: {{ leilao.lote.user }}</li>

        <li>
            <div id="leilao_options">
                {% if user.is_staff %}
                <a id="edit" href="">Editar</a>
                <a id="delete" href="">Deletar</a>
                {% else %}
                <a id="bid" href="">Dar Lance</a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>

{% endblock %}