{% extends "base.html" %}

{% block content %}

<div class="user_menu">
    <ul>
        <li><a href="{% url 'leilao_fbv_user:lote_list' %}">Seus lotes</a></li>
        <li><a href="{% url 'leilao_fbv_user:lote_new' %}">Novo lote</a></li>
        <li><a href="{% url 'leilao_fbv_user:list_leilao_avail' %}">Leilões Disponíveis</a></li>
        <li><a href="{% url 'leilao_fbv_user:show_participating_leilao' %}">Leilões Participados</a></li>
        <li><a href="{% url 'leilao_fbv_user:show_won_leilao' %}">Leilões Arrematados</a></li>
    </ul>
</div>

{% endblock %}