{% load static %}
<!--This is the base template-->
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="header">
        {% if user.is_authenticated %}
        <div id="user">
            Olá {{ user }}, <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <div id="cadastro">
            <a href="{% url 'leilao_fbv:vendedor_new' %}">Cadastrar</a>,
            <a href="{% url 'login' %}">Login</a>
        </div>
        {% endif %}
        <h1><a href="/">Página do usuário</a></h1>
    </div><!-- header -->

    <div id="content">
        {% block content %}
        {% endblock %}
    </div><!-- content -->
    
    <div id="footer">
    </div>
</body>

</html>