body {
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    margin:auto;
    background-color: beige;
}

p,li,label, #tcolor{
    color: rgb(181, 245, 236);
}

/* Navigation bar */
.header ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #98ff98;
    margin: 0;
    padding: 0;
}

.header li {
    float: left;
}

.header li a, .drop-btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Dropdown Menu */
.header li a:hover, .user:hover .drop-btn {
    background-color: tomato;
}

.header li.user {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.user:hover .dropdown-content {
    display: block;
}

/* Stylizing ID */

#content {
    width: 50%;
    margin: auto;
}

#intro_fim {
    /* background-image: url(../images/background_auction.jpg); */
    color: #000;
}

#intro_comprador{
    color: dimgray;
}

#intro_vendedor{
    color: dimgray;
}

#introducao{
    color: #000;
}

#user {
    float:right; 
    color: black;
}

#login {
    float:right; 
    color: rgb(181, 245, 236);
    width: 100%;
    display: block;
    text-align: center;
}

#login_form {
    margin: 50px;
    padding-left: 220px;
}

#home_link {
    margin: auto;
    text-align: center;
}

#cadastro, #user {
    text-align: right;
}

#login_slash {
    color: dimgray;
    font-size: large;
}

#user_page {
    margin:  10px;
    align-items: center;
}